section(class="buying")
    .container.buying__wrap
        .buying__card
            .buying__categ
                span Legacy
            h2(class="buying__title") Go it solo
            p(class="buying__descr") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            a(class="buying__button" href="#") Buy now $9
            .buying__support
                img(src="../assets/img/fa-apple.png" alt="Aplle")
                img(src="../assets/img/fa-windows.png" alt="Windows")                
        .buying__card.buying__card_active   
            .buying__categ.buying__categ_popular
                span Most Popular
            h2(class="buying__title") Team Plan
            p(class="buying__descr") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
            a(class="buying__button" href="#") Buy now $18
            .buying__support
                img(src="../assets/img/fa-apple.png" alt="Aplle")
                img(src="../assets/img/fa-windows.png" alt="Windows")
    .vertical-text.vertical-text_section
        span  Takpapp.com