section(class="details")
    .container
        h2(class="details__title") A look at the details
        .details__list
            .details__item
                h4(class="details__subtitle") Web based
                p Minim anim ea quis sunt nulla exercitation voluptate et aute et velit ullamco cupidatat. Ex ad non dolore incididunt eiusmod adipisicing minim ad nostrud pariatur sint. Mollit sunt mollit laborum aliqua elit.
            .details__item
                h4(class="details__subtitle") Performanse
                p Minim anim ea quis sunt nulla exercitation voluptate et aute et velit ullamco cupidatat. Ex ad non dolore incididunt eiusmod adipisicing minim ad nostrud pariatur sint. Mollit sunt mollit laborum aliqua elit.
            .details__item
                h4(class="details__subtitle") Clultral
                p Minim anim ea quis sunt nulla exercitation voluptate et aute et velit ullamco cupidatat. Ex ad non dolore incididunt eiusmod adipisicing minim ad nostrud pariatur sint. Mollit sunt mollit laborum aliqua elit.
            .details__item
                h4(class="details__subtitle") Sustainability
                p Minim anim ea quis sunt nulla exercitation voluptate et aute et velit ullamco cupidatat. Ex ad non dolore incididunt eiusmod adipisicing minim ad nostrud pariatur sint. Mollit sunt mollit laborum aliqua elit.
    .vertical-text.vertical-text_section
        span  Takpapp.com
            