footer(class="footer")
    .container.footer__wrap
        .footer__left
            .footer__article
                h4(class="footer__title") Get in touch
                p In exercitation fugiat est in nulla fugiat officia consectetur Lorem ex sit velit minim irure. Nostrud amet tempor non ex ullamco nisi aliqua amet fugiat amet. Elit aliquip eu deserunt reprehenderit ad dolor ad. Culpa magna mollit incididunt eiusmod voluptate do Lorem deserunt. Pariatur incididunt est do sint amet qui cillum consectetur aute sit excepteur cupidatat velit. Eiusmod ad laboris ex aute laborum do nulla culpa et velit.
            .footer__nav
                .footer__group
                    h4 Resources
                    a(class="footer__link" href="#") Tour
                    a(class="footer__link" href="#") Customers
                    a(class="footer__link" href="#") Pricing and Plans
                    a(class="footer__link" href="#") New Features
                    a(class="footer__link" href="#") Education
                .footer__group
                    h4 Features
                    a(class="footer__link" href="#") Tour
                    a(class="footer__link" href="#") Customers
                    a(class="footer__link" href="#") Pricing and Plans
                    a(class="footer__link" href="#") New Features
                    a(class="footer__link" href="#") Education
                .footer__group
                    h4 How To`s
                    a(class="footer__link" href="#") Tour
                    a(class="footer__link" href="#") Customers
                    a(class="footer__link" href="#") Pricing and Plans
                    a(class="footer__link" href="#") New Features
                    a(class="footer__link" href="#") Education
        .footer__right
            form(class="form" action="GET")
                label(class="form__label" for="email") Stay in touch
                .form__wrapper
                    input(class="form__input" type="email" name="email" required)
                    button(class="form__button" type="submit") &#10003
                p(class="form__descr")   We don’t send spam. Actually, who are we kiding, we’ll spam the shit out of you’r inbox