section(class="gallery")
    .container
        .gallery__list
            .gallery__item.gallery__item_bgPink
                h3(class="gallery__title") Design quality
                p(class="gallery__descr") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing .
                .link
                    a(class="link__href" href="#") Find Out more 
                        span(class="link__arrow") &#8594
            .gallery__item.gallery__item_bgViolet
                h3(class="gallery__title") Design quality
                p(class="gallery__descr") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing .
                .link
                    a(class="link__href" href="#") Find Out more 
                        span(class="link__arrow") &#8594
            .gallery__item.gallery__item_bg1
                h3(class="gallery__title") Design quality
                p(class="gallery__descr") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing .
                .link
                    a(class="link__href" href="#") Find Out more 
                        span(class="link__arrow") &#8594
            .gallery__item.gallery__item_bgPurpl
                h3(class="gallery__title") Design quality
                p(class="gallery__descr") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing .
                .link
                    a(class="link__href" href="#") Find Out more 
                        span(class="link__arrow") &#8594
            .gallery__item.gallery__item_bgViolet
                h3(class="gallery__title") Design quality
                p(class="gallery__descr") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing .
                .link
                    a(class="link__href" href="#") Find Out more 
                        span(class="link__arrow") &#8594
            .gallery__item.gallery__item_large.gallery__item_bg2
                h3(class="gallery__title") Design quality
                p(class="gallery__descr") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing .
                .link
                    a(class="link__href" href="#") Find Out more 
                        span(class="link__arrow") &#8594
            .gallery__item.gallery__item_bgGreen
                h3(class="gallery__title") Design quality
                p(class="gallery__descr") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing .
                .link
                    a(class="link__href" href="#") Find Out more 
                        span(class="link__arrow") &#8594
            .gallery__item.gallery__item_large.gallery__item_bg2
                h3(class="gallery__title") Design quality
                p(class="gallery__descr") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing .
                .link
                    a(class="link__href" href="#") Find Out more 
                        span(class="link__arrow") &#8594
