header(class="first-screen")
  .container
    .header
      .header__logo
        img(class="header__img" src="../assets/img/Logo.png" alt="Logo")
    .first-screen__content
      h1(class="first-screen__title") Picture prefect
      p Laboris sint culpa exercitation minim. Sit consequat ad est proident magna culpa exercitation minim.
    .iphone
      img(class="iphone__img" src="../assets/img/iPhone.png" title="iPhone")
  .vertical-text.vertical-text_header
    span Perfect Takpapp.com
  