section(class="power")
    .container.power__wrap
        .power__article
            h2(class="power__title") More power behind every pixel.
            p   Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                | incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                | exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            .link
                a(class="link__href" href="#") See the options
                    span(class="link__arrow") &#8594