section(class="reasons")
    .container
        h2(class="reasons__title") Reasons to get onbord
        .reasons__list
            .reasons__item
                h4(class="reasons__subtitle") Web based
                p Minim anim ea quis sunt nulla exercitation voluptate et aute et velit ullamco cupidatat. Ex ad non dolore incididunt eiusmod adipisicing minim ad nostrud pariatur sint. Mollit sunt mollit laborum aliqua elit.
            .reasons__item
                h4(class="reasons__subtitle") Performanse
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    |Duis aute irure dolor in reprehenderit in voluptate velit esse 
            .reasons__item
                h4(class="reasons__subtitle") Clultral
                p Minim anim ea quis sunt nulla exercitation voluptate et aute et velit ullamco cupidatat. Ex ad non dolore incididunt eiusmod adipisicing minim ad nostrud pariatur sint. Mollit sunt mollit laborum aliqua elit.
    .vertical-text.vertical-text_section.vertical-text_white
        span  Takpapp.com