section(class="text-block")
    .container.text-block__container
        .text-block__left
            h2(class="text-block__title") Start something new
            p   Consequat minim in officia et nulla aliqua ipsum velit eu ea dolor. Non amet quis duis deserunt aliqua cupidatat esse labore. Reprehenderit sint id duis ea nulla cupidatat labore sint velit cupidatat esse. Enim culpa culpa labore cillum dolor magna sunt ex non ipsum pariatur. Pariatur pariatur sunt exercitation sunt ullamco ea elit deserunt dolore mollit incididunt laborum deserunt. Minim enim ut do consectetur dolor veniam culpa pariatur qui sunt amet dolor.
            p   Nulla sunt anim veniam duis consequat nisi minim consequat cillum. Magna sit enim officia occaecat tempor dolore exercitation sint aute. Officia sint ipsum ullamco nostrud irure. Quis sunt mollit eu commodo voluptate velit. Laborum nostrud pariatur deserunt fugiat officia anim in pariatur officia ea Lorem nisi commodo.
            p   Mollit ullamco Lorem id laborum minim eu incididunt reprehenderit sit laborum cupidatat duis. Pariatur esse do ullamco ex aliqua nulla. Dolore proident non laboris ea esse Lorem anim non laborum est culpa incididunt. Amet laborum nisi exercitation consectetur aliqua minim eiusmod do non sunt officia nulla ex. Reprehenderit culpa voluptate ut labore non.
        .text-block__right
           
            p   Esse ad aliqua qui pariatur exercitation Lorem dolore magna nostrud duis dolore eu tempor tempor. Ullamco officia incididunt ipsum eu deserunt ut excepteur Lorem officia. Quis quis deserunt est officia irure anim irure fugiat irure do dolor laboris magna. Proident duis in sunt nulla velit est aliquip eu voluptate irure. Tempor est consectetur aliqua nostrud mollit officia ipsum.
            p   1Esse quis aliquip labore exercitation sunt officia aute amet aliquip nostrud. Dolore amet nisi officia fugiat dolor pariatur consequat eu Lorem do. Tempor cupidatat anim cillum enim amet magna duis cillum aliqua ipsum. Laboris incididunt officia duis reprehenderit eiusmod eu mollit aute. Est sit cupidatat in deserunt.