extends ../_template

block variables
  - var title = 'Landing page'

block content
  include ../common/_header
  include ../common/_text-block
  include ../common/_gallery
  include ../common/_details
  include ../common/_power
  include ../common/_reasons
  include ../common/_buying
  include ../common/_footer